.container {
    display: inline;
    min-height:100vh;
    background-color: #ece7e1;;    
}

.curtain {
    height: 95vh;
    width: 70vw;
    margin: 0 auto;
    background-color: #121212;
    font-family: "Druk Wide Web Bold Regular";
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5vw;
    animation: fadeDown 0.5s ease-in-out;
}

.desc_box {
    width: 80%;
    margin: 0 auto;
}

.alignment {
   display: flex;
   flex-direction: column;
   padding: 20px;
   border: 1px solid red;
}


@keyframes fadeDown {
    from {
        transform: translateY(-90%);
        // opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}