@import '../../responsive.scss';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f6f6f6;
    min-height: 100vh;
    font-family: 'SF UI Text', sans-serif;
    color: #3d155f;

}

.contact_message {
    font-size: 3.2vw;
    font-weight: 700;
    margin-bottom: 20px;
    color: #4831d4;

    @media only screen and (max-width: $mobile-max-width) {
        font-size: 20px;
     }
}

.contact_textarea {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgba(61, 21, 95, 0.5);;
    color: #121212;
    background-color: transparent;
    width: 500px;
    height: 30px;
    resize: none;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 10px 0;
    font-family: 'SF UI Text', sans-serif;

    @media only screen and (max-width: $mobile-max-width) {
        width: 100%;
     }
 
}

.contact_textarea:focus { 
    outline:none;
    border-bottom: 1px solid #4831d4;
}

.name_input:focus, 
.email_input:focus { 
    outline: none;
    border-bottom: 1px solid #4831d4;
 }

.input_wrap_box {
    display: flex;
    gap: 50px;
}


.input_wrap_box >div {
    flex: 1;
}
.name_input, 
.email_input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgba(61, 21, 95, 0.5);
    color: #121212;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0;
}

.whole_input {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 30px;
}

.button_wrap {
    margin: 0 auto;
}

.send_button {
    border: 1px solid #4831d4;
    color: #4831d4;
    padding: 10px 40px;
    cursor: pointer;
}

.send_button:hover {
    background-color: #4831d4;
    color: #f6f6f6;
}